/*--------------GENERAL---------------*/
html {
		font-size: 100%;
	}
body {
	max-width: 62.5rem;
	font-family: arial;
  	font-style: normal;
  	font-size: 0.75rem;
  	margin: auto; 
}
body i {
	color: #F8BBD0;
	margin-right: 0.63rem;
}

/*---------------HEADER-----------------*/
.entete {
	display: flex;
	flex-direction: row;
}
.photo {
	background-color: #F8BBD0;
	width: 35%;

}
.nom {
	width: 65%;
}
.photo p {
	text-align: center;
}
img {
	margin-top: 0.8rem;
	
}
h1 {
	font-size: 3rem;
	margin-bottom: -0.62rem;
}
h1 span {
	color: #f8bbd0;
}
h2 {
	font-size: 1.2rem;
	margin-bottom: 3.4rem;
}
h2 span {
	text-decoration: underline;
	text-decoration-color: #f8bbd0;
}
/*-------------PARTIE GAUCHE-------------*/
#corps {
	display: flex;
	flex-direction: row;
}
.gauche {
	background-color: #F8BBD0;
	width: 35%;
	display: flex;
	flex-direction: column;
}
h3 {
	font-size: 1.2rem;
	text-align: center;
	color: #F8BBD0;
	background-color: #263238;
}
.contact p, .apropos p{
	padding: 0 1.9rem 0 1.9rem;
	word-wrap: break-word;
}
.apropos {
	flex: 2;
}
.apropos p {
	text-align: justify;
}
.loisirs p {
	padding: 0 1.3rem;
	text-align: center;
	font-size: 1.6rem;
}
.loisirs i {
	color: black;
	margin: 0 0.9rem;
}
.recommandation {
	padding-left: 1.5rem;
}
.recom1 , .recom2 {
	width: 50%;
}
/*---------------PARTIE DROITE--------------*/
.droite {
	width: 65%;
}
.droite , .nom {
	margin: 0 1rem;
}
.titre hr {
	margin: -0.2rem 0 1.6rem 0;
	background-color: #F8BBD0;
}
.responsive {
	display: flex;
}
.circle {
	padding: 0 0.6rem 0 0.6rem;
	width: 8%;	
}
.date {
	width: 20%;
}
.ecole, .entreprisenom {
	width: 70%;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 0.9rem;
}
.fa-circle{
	font-size: 0.4rem;
	color: #F8BBD0;
}
/*----------- TABLETTES ET SMARTPHONES ------------*/
@media (max-width: 767px) {
	html {
		font-size: 90%;
	}
	.entete {
		flex-direction: column;
	}
	.photo {
		width: 100%;
	}
	.nom {
		width: 100%;
	}
	#corps {
		flex-direction: column;
	}
	.gauche {
		order: 2;
		width: 100%;
	}
	.droite {
		width: 100%;
	}
	h1, h2, .contact p {
		text-align: center;
	}
	.recommandation {
		padding : 0 0.2rem 0.6rem 0;
	}
}
/*----------------ECRAN HD------------------*/
@media (min-width: 1920px) {
	html{
		font-size: 130%;
	}
}
