/*GENERAL*//*GENERAL*//*GENERAL*/
body {
	max-width: 62.5rem;
  	font-style: normal;
  	font-size: 0.75rem;
  	margin: auto; 
}
body i {
	color: #F8BBD0;
	margin-right: 0.63rem;
}
.col-md-3, .col-md-6, .col-md-9, .row {
	padding: 0;
}
/*HEADER*//*HEADER*//*HEADER*//*HEADER*/
.photo {
	background-color: #F8BBD0;
	height: 100%;
}
img {
	margin-top: 0.8rem;
}
h1 {
	font-size: 3rem;
	margin-bottom: -0.62rem;
}
h1 span {
	color: #f8bbd0;
}
h2 {
	font-size: 1.2rem;
	margin-bottom: 3.4rem;
}
h2 span {
	text-decoration: underline;
	text-decoration-color: #F8BBD0;
}
.row {
	margin: 0;
}
.aside {
	padding: 0;
}
/*PARTIE GAUCHE*//*PARTIE GAUCHE*//*PARTIE GAUCHE*/
.gauche {
	background-color: #F8BBD0;
	height: 100%;
	display: flex;
	flex-direction: column;
}
h3 {
	font-size: 1.2rem;
	text-align: center;
	color: #F8BBD0;
	background-color: #263238;
}
.contact p, .apropos p{
	padding: 0 1.9rem 0 1.9rem;
	word-wrap: break-word;
}
.apropos {
	flex: 2;
}
.loisirs p {
	padding: 0 1.3rem;
	text-align: center;
	font-size: 1.6rem;
}
.loisirs i {
	color: black;
	margin: 0 0.9rem;
}
.recommandation {
	padding-left: 1.5rem;
}
.recom1 , .recom2 {
	width: 50%;
}
/*PARTIE DROITE*//*PARTIE DROITE*//*PARTIE DROITE*/
.droite , .nom {
	margin: 0 1rem;
}
.titre hr {
	margin: -0.2rem 0 1.6rem 0;
}
.circle {
	padding: 0 0.6rem 0 0.6rem;
	width: 8%;
}
.date {
	width: 30%;
}
.school, .entreprisenom  {
	width: 60%;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 0.9rem;
}
.fa-circle{
	font-size: 0.4rem;
	color: #F8BBD0;
}
@media (max-width: 768px) {

	#container .row .col-md-3 {
		order: 2;
	} 
	h1, h2, .contact p {
		text-align: center;
	}
	.recommandation {
		padding-left: 0.3rem;
}
	.recom1 , .recom2 {
		width: 50%;
}
}